body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f5f5f5;
}

h2 {
    background: #222;
    color: white;
    padding: 12px;
    border-radius: 6px;
}

video {
    width: 95%;
    border: 3px solid black;
    margin-top: 10px;
}

.box {
    background: white;
    margin: 12px;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
}

button {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 8px;
    font-size: 18px;
}

.send {
    background: green;
    color: white;
    font-weight: bold;
    border-radius: 6px;
}

#status {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}
