body {
    background: #111;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
}

video {
    width: 100%;
    border: 3px solid #00ff88;
    border-radius: 10px;
}

button {
    margin: 10px 5px;
    padding: 12px;
    width: 90%;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: #00ff88;
    color: #000;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #00cc66;
}
